/* set border-box style for all elements of webpage */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Set body styling */
body {
    margin: 0;
    background-color: #0C1027;
}

/*------header section--------*/

/* Fixed header at the top */
.main-header {
    height: 10vh;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #0C1027;
    box-shadow: 0 4px 1px 0 #1c1e2d, 0 4px 20px 0 #574576
}

/* Styling for the logo and navigation bar */
.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 18%;
}

/* set the style for logo image */
.logo-container img {
    width: 9rem;
    height: 3rem;
    margin-right: 1rem;
}

/* set the style for header link */
.logo-container a {
    text-decoration: none;
    margin-right: 1rem;
}

/* Header title styling */
.header-title {
    color: #CECFD3;
    font-size: 1rem;
    font-weight: 600;
}

/* Styling for the searchbox container */
.searchbox-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55%;
}

/* Styling for the search box */
.search-box {
    padding: 0.5rem;
    background-color: #12183F;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

/* setting the styles for the search input field */
.search-box input {
    font-size: 1.1rem;
    padding: 0.6rem;
    padding-left: 0.1rem;
    background-color: transparent;
    width: 80%;
    height: 0.7rem;
    border: 0;
    margin-right: 3.3rem;
    color: white;
}

/* setting the color property of an icon */
.search-box i {
    color: #93A8B3;
}

/*---- main conatiner section ----*/

main {
    margin-top: 12vh;
}

/* Styling for the loading spinner */
#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* adding animation on loading spinner */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*-------- superhero-container --------*/
#superhero-container {
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-around;
    display: none;
}

/* Adding animation to superhero-container */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/* Styling for superhero list */
#superhero-list {
    margin: 1rem;
    border: 1px solid dodgerblue;
    padding: 1rem;
    transition: transform .2s;
}

/* stting the styles for superhero image */
.superhero-img {
    height: 13rem;
    width: 13rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 #3F51B5, 0 6px 20px 0 #673AB7;
}

/* setting style for hover effect on superhero list */
#superhero-list:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

/* superhero name */
.superhero-name {
    text-align: center;
    color: #CECFD3;
    margin: 1vh;
}

/* Styling for buttons container */
#buttons-container {
    display: flex;
    justify-content: space-between;
}

/* common styling for 'Add to favourites' and 'About' button */
.buttons {
    background-color: transparent;
    color: grey;
    font-size: medium;
    border: 1px solid;
    padding: 7px;
}

/* Styling for 'About' button */
#about {
    background-color: black !important;
    opacity: 0.45;
    border: none !important;
    color: white !important;
}


/*--------hide scrollbar--------*/
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
main::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
main {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* -----snackbar----- */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333; 
    color: #fff; 
    text-align: center;
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
  }
  
  /* Show the snackbar when clicking on a button  */
  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }